<div class="container-fluid">
  <div class="section row">
    <h2 class="col-12">
      Find me almost anywhere on the web with @KrishnaYadav
    </h2>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-2">
      <a
        class="nav-link"
        href="https://www.facebook.com/profile.php?id=100063809040852"
        target="_blank"
      >
        <i class="fab fa-facebook-square"></i>
      </a>
      <div>
        <span class="tech-name">Facebook</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-2">
      <a
        class="nav-link"
        href="https://www.linkedin.com/in/krishna-yadav-b69339204/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i
      ></a>
      <div>
        <span class="tech-name">Linkedin</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <a
        class="nav-link"
        href="https://www.github.com/Krishna-Yadav0786"
        target="_blank"
      >
        <i class="fab fa-github-square"></i>
      </a>
      <div>
        <span class="tech-name">GitHub</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <a
        class="nav-link"
        href="https://www.instagram.com/hackiller_boy"
        target="_blank"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <div>
        <span class="tech-name">Instagram</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <a class="nav-link" href="" target="_blank">
        <i class="fab fa-telegram"></i>
      </a>
      <div>
        <span class="tech-name">Telegram</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <a class="nav-link" href="https://www.youtube.com" target="_blank">
        <i class="fab fa-youtube"></i>
        <div>
          <span class="tech-name">YouTube</span>
        </div>
      </a>
    </span>
    <p class="col-12">&#169; Copyright 2022 Krishna Yadav</p>
  </div>
</div>
