<div class="container-fluid">
  <div class="section white row">
    <h2 class="col-12">Things I Know</h2>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-c-plain colored"></i>
      <div>
        <span class="tech-name">C</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-cplusplus-plain colored"></i>
      <div>
        <span class="tech-name">c++</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-html5-plain colored"></i>
      <div>
        <span class="tech-name">HTML5</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-css3-plain colored"></i>

      <div>
        <span class="tech-name">CSS3</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-javascript-plain colored"></i>
      <div>
        <span class="tech-name">JavaScript</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-typescript-plain colored"></i>
      <div>
        <span class="tech-name">TypeScript</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-react-plain colored"></i>
      <div>
        <span class="tech-name">React</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-nodejs-plain colored"></i>
      <div>
        <span class="tech-name">NodeJS</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-angularjs-plain colored"></i>
      <div>
        <span class="tech-name">Angular</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-bootstrap-plain colored"></i>
      <div>
        <span class="tech-name">Bootstrap</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-git-plain colored"></i>
      <div>
        <span class="tech-name">Git</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-jquery-plain colored"></i>
      <div>
        <span class="tech-name">jQuery</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-php-plain colored"></i>
      <div>
        <span class="tech-name">PHP</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-laravel-plain colored"></i>
      <div>
        <span class="tech-name">Laravel</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-nextjs-plain colored"></i>
      <div>
        <span class="tech-name">NEXT</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-mongodb-plain colored"></i>
      <div>
        <span class="tech-name">MongoDB</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-mysql-plain colored"></i>
      <div>
        <span class="tech-name">MySql</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-postgresql-plain colored"></i>
      <div>
        <span class="tech-name">PostgreSQL</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-flutter-plain colored"></i>
      <div>
        <span class="tech-name">Flutter</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-androidstudio-plain colored"></i>
      <div>
        <span class="tech-name">Android Studio</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-java-plain colored"></i>
      <div>
        <span class="tech-name">Java</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-dot-net-plain colored"></i>
      <div>
        <span class="tech-name">.NET</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-python-plain colored"></i>
      <div>
        <span class="tech-name">Python</span>
      </div>
    </span>

    <span class="tech-icon col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <i class="devicon-django-plain colored"></i>
      <div>
        <span class="tech-name">Django</span>
      </div>
    </span>
  </div>
</div>
